:root {
    --color-red-dark: #c92a2a;
    --color-red-light: #f03e3e;
    --color-gray-dark: #2f3640;
    --color-gray-light: #353b48;
    --color-white: #fff;
    --color-white-dark:#adb5bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-gray-dark);
    font-size: 1rem;
    color: var(--color-white);
}

/* header style start ------------------------------------------------------- */
header {
    background-color: var(--color-gray-dark);
}

.hge_logo {
    color: var(--color-red-dark);
    font-size: 2rem;
    font-weight: 900;
}

.hge_logo:hover {
    color: var(--color-red-light);
}

.hge_logo sub {
    color: var(--color-white);
    font-size: 0.7rem;
    font-weight: normal;
}

#navbar>ul>li>a {
    color: var(--color-white);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

#navbar>ul>li>a.active {
    color: var(--color-red-light);
}

#navbar>ul>li>a:hover {
    color: var(--color-red-light);
}
#header > * .user_name{
    padding: 0 1rem;
    color: var(--color-red-dark);
}
.btn_login {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    border: 1px solid var(--color-red-light);
    text-transform: uppercase;
}

.btn_login:hover {
    background-color: var(--color-red-light);
}

.menu_toggler {
    background-color: var(--color-red-dark);
    outline: none;
}

.menu_toggler:hover {
    background-color: var(--color-red-light);
}

.navbar-toggler-icon {
    color: var(--color-white);
}
/*Login Modal*/
.modal-backdrop{
    z-index: 900;
}
#loginModal > * .modal-content{
    /* border-radius: 0; */
}
#loginModal > * ,
#registerModal > *{
    color: var(--color-gray-dark);
}
#loginModal > * span,
#registerModal > * span{
    padding: 0 1rem;  
    font-size: .8rem;
    font-weight: 400;
}
#loginModal > * a,
#registerModal > * {
    color: var(--color-red-dark);
    font-size: .9rem;
    text-decoration: none;
    font-weight: 500;
}
#loginModal > * a:hover,
#registerModal > * a:hover{
    color: var(--color-red-light);
}
#loginModal > * h3,
#registerModal > * h3{
    color: var(--color-red-dark);
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}
#loginModal > * input[type="submit"],
#registerModal > * input[type="submit"]{
    color: var(--color-white);
    /* border-radius: 0; */
}
#loginModal > * label,
#registerModal > * label{
    color: var(--color-gray-dark);
    font-weight: 500;
    text-transform: capitalize;
}
#loginModal > * input[type="text"],
#loginModal > * input[type="email"],
#loginModal > * input[type="password"],
#registerModal > * input[type="text"],
#registerModal > * input[type="email"],
#registerModal > * input[type="password"]{
    border: 1px solid var(--color-red-dark) !important;
    /* border-radius: 0; */
}
#loginModal > * input[type="text"]:focus,
#loginModal > * input[type="email"]:focus,
#loginModal > * input[type="password"]:focus,
#registerModal > * input[type="text"]:focus,
#registerModal > * input[type="email"]:focus,
#registerModal > * input[type="password"]:focus{
    box-shadow: none;
}
/* header style end  ------------------------------------------------------- */
.btn_orange {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    /* border: 1px solid var(--color-red-light); */
    text-transform: capitalize;
    outline: none;
}

.btn_orange:hover {
    background-color: var(--color-red-light);
}

/* home style starts  ------------------------------------------------------- */
.home_contents>h1 {
    color: var(--color-red-dark);
    font-size: 2.5rem;
    font-weight: 700;
}

.home_contents>h3 {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 700;
}

.home_contents>a {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    text-transform: uppercase;
    padding: .5rem 1rem;
}

.home_contents>a:hover {
    background-color: var(--color-red-light);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-red-light);
}

.carousel-control-next_svg {
    fill: var(--color-red-dark);
}

/* home style end  ------------------------------------------------------- */

/* feature products start  ------------------------------------------------------- */
.feature_products {
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--color-gray-light);
    color: var(--color-white);
}

.feature_products h1 {
    margin: 2rem auto;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.feature_products_content {
    background-color: var(--color-gray-dark);
    padding: 1.5rem;
    border-radius: .5rem;
}

.feature_products_content>h3 {
    color: var(--color-red-light);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;


}

.feature_products_content>h4 {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.feature_products_content>ul {
    list-style: square;
    font-size: 1rem;
}

/* feature products end  ------------------------------------------------------- */

/* Onlin Visitor Count start */
.count_container {
    margin: 2rem auto;
    color: var(--color-white);
}

.count_item {
    text-align: center;
}

.count_item>h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-red-dark);
}

.count_item>span {
    font-size: 1rem;
}

.count_item>span>i {
    color: var(--color-red-light);
}

/* Onlin Visitor Count end */

/* google map start */
.google_map {
    background-color: var(--color-gray-light);
    margin: 1rem auto;
}

.google_map>h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}

.mapouter {
    margin: 1rem auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.gmap_canvas>iframe {
    width: 100%;
    height: 50vh;
}

.gym_info {
    margin: 1rem auto;
    background-color: var(--color-gray-dark);
    padding: 1.5rem;
    color: var(--color-white);
}

.gym_info>ul {
    list-style: square;
}

.gym_info>ul>li>h3 {
    color: var(--color-red-dark);
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.gym_info>ul>li>a {
    font-size: 1rem;
    word-spacing: 0.5rem;
}

/* google map end */


/* blogs start */
.blogs{
    padding-bottom: 1.5rem;
}
.blogs > h1{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}
.blog_content > h3{
    font-size: 1rem;
    color: var(--color-red-light);
    font-weight: bold;
    text-transform: uppercase;
}
.blog_content > span{
    font-size: 0.7rem;
    color: var(--color-white-dark);
}
.blog_content > .img-thumbnail{
    background-color: var(--color-gray-light) !important;
    border: none;
}
.blog_content > p{
    color: var(--color-white-dark);
}
/* blogs end */

/* footer start */
.footer{
    background-color: var(--color-gray-light);
    margin-top: 1.5rem auto;
    padding-top: 1.5rem;
}
.footer_logo>h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-red-dark);
    text-transform: uppercase;
}

.footer_logo>h1>sub {
    color: var(--color-white);
    font-size: 0.7rem;
    font-weight: normal;
    text-transform: capitalize;
}

.footer_pages>h1,
.quick_link>h1,
.social_links>h1 {
    font-size: 1rem;
    color: var(--color-red-dark);
    text-transform: capitalize;
}

.footer_pages>ul,
.quick_link>ul {
    list-style: square;
}

.social_links>ul {
    list-style: none;
    padding: 0.5rem;
}

.footer_pages>ul>li>a,
.quick_link>ul>li>a,
.social_links>ul>li>a {
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
}

.footer_pages>ul>li>a:hover,
.quick_link>ul>li>a:hover,
.social_links>ul>li>a:hover {
    color: var(--color-red-light);
}

.copy_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy_right>p>strong {
    color: var(--color-red-dark);
}

.copy_right>p {
    color: var(--color-white);
}

/* footer end */