:root {
    --color-red-dark: #c92a2a;
    --color-red-light: #f03e3e;
    --color-gray-dark: #2f3640;
    --color-gray-light: #353b48;
    --color-white: #fff;
    --color-white-dark: #adb5bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-gray-dark);
    font-size: 1rem;
    color: var(--color-white);
}

/* header style start ------------------------------------------------------- */
header {
    background-color: var(--color-gray-dark);
}

.hge_logo {
    color: var(--color-red-dark);
    font-size: 2rem;
    font-weight: 900;
}

.hge_logo:hover {
    color: var(--color-red-light);
}

.hge_logo sub {
    color: var(--color-white);
    font-size: 0.7rem;
    font-weight: normal;
}

#navbar>ul>li>a {
    color: var(--color-white);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

#navbar>ul>li>a.active {
    color: var(--color-red-light);
    background-color: var(--color-gray-light);
    border-radius: 5px;
}

#navbar>ul>li>a:hover {
    color: var(--color-red-light);
}

#header>* .user_name {
    padding: 0 1rem;
    color: var(--color-red-dark);
}

.btn_login {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    border: 1px solid var(--color-red-light);
    text-transform: uppercase;
    margin-left: 5px;
}

.btn_login:hover {
    background-color: var(--color-red-light);
}

.menu_toggler {
    background-color: var(--color-red-dark);
    outline: none;
}

.menu_toggler:hover {
    background-color: var(--color-red-light);
}

.navbar-toggler-icon {
    color: var(--color-white);
}

/*Login Modal*/
.modal-backdrop {
    z-index: 900;
}

#loginModal>*,
#registerModal>* {
    color: var(--color-gray-dark);
}

#loginModal>* span,
#registerModal>* span {
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: 400;
}

#loginModal>* a,
#registerModal>* {
    color: var(--color-red-dark);
    font-size: .9rem;
    text-decoration: none;
    font-weight: 500;
}

#loginModal>* a:hover,
#registerModal>* a:hover {
    color: var(--color-red-light);
}

#loginModal>* h3,
#registerModal>* h3 {
    color: var(--color-red-dark);
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

#loginModal>* input[type="submit"],
#registerModal>* input[type="submit"] {
    color: var(--color-white);
    background-color: var(--color-red-dark);
}

#loginModal>* label,
#registerModal>* label {
    color: var(--color-gray-dark);
    font-weight: 500;
    text-transform: capitalize;
}

#loginModal>* input[type="text"],
#loginModal>* input[type="email"],
#loginModal>* input[type="password"],
#registerModal>* input[type="text"],
#registerModal>* input[type="email"],
#registerModal>* input[type="password"] {
    border: 1px solid var(--color-red-dark) !important;
    /* border-radius: 0; */
}

#loginModal>* input[type="text"]:focus,
#loginModal>* input[type="email"]:focus,
#loginModal>* input[type="password"]:focus,
#registerModal>* input[type="text"]:focus,
#registerModal>* input[type="email"]:focus,
#registerModal>* input[type="password"]:focus {
    box-shadow: none;
}

/* header style end  ------------------------------------------------------- */
.btn_orange {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    text-transform: capitalize;
    outline: none;
}

.btn_orange:hover {
    background-color: var(--color-red-light);
}

/* home style starts  ------------------------------------------------------- */
.home {
    background-color: var(--color-gray-light);
}

.home_contents>h1 {
    color: var(--color-red-dark);
    font-size: 2.5rem;
    font-weight: 700;
}

.home_contents>h3 {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 700;
}

.home_contents>a {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    text-transform: uppercase;
    padding: .5rem 1rem;
}

.home_contents>a:hover {
    background-color: var(--color-red-light);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-red-light);
}

.carousel-control-next_svg {
    fill: var(--color-red-dark);
}

/* home style end  ------------------------------------------------------- */

/* feature products start  ------------------------------------------------------- */
.feature_products {
    padding: 1.5rem;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
}

.feature_products h1 {
    margin: 2rem auto;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.feature_products_content {
    background-color: var(--color-gray-light);
    padding: 1.5rem;
}

.feature_products_content>h3 {
    color: var(--color-red-light);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;


}

.feature_products_content>h4 {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.feature_products_content>ul {
    list-style: square;
    font-size: 1rem;
}

/* feature products end  ------------------------------------------------------- */

/* Onlin Visitor Count start */
.count_container {
    padding: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-gray-light);
}

.count_item {
    text-align: center;
}

.count_item>h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-red-dark);
}

.count_item>span {
    font-size: 1rem;
}

.count_item>span>i {
    color: var(--color-red-light);
}

/* Onlin Visitor Count end */

/* google map start */
.google_map {
    margin: 1rem auto;
}

.google_map>h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}

.mapouter {
    margin: 1rem auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.gmap_canvas>iframe {
    width: 100%;
    height: 50vh;
}

.gym_info {
    margin: 1rem auto;
    background-color: var(--color-gray-light);
    padding: 0.5rem;
    color: var(--color-white);
}

.gym_info>ul {
    list-style: square;
}

.gym_info>ul>li>h3 {
    color: var(--color-red-dark);
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.gym_info>ul>li>a {
    font-size: 1rem;
    word-spacing: 0.5rem;
}

/* google map end */


/* blogs start */
.blogs {
    padding-bottom: 1.5rem;
    background-color: var(--color-gray-light);
}

.blogs>h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}

.blog_content {
    background-color: var(--color-gray-dark);
    padding: 1rem;
}

.blog_content>h3 {
    font-size: 1rem;
    color: var(--color-red-light);
    font-weight: bold;
    text-transform: uppercase;
}

.blog_content>span {
    font-size: 0.7rem;
    color: var(--color-white-dark);
}

.blog_content>.img-thumbnail {
    background-color: var(--color-gray-light) !important;
    border: none;
}

.blog_content>p {
    color: var(--color-white);
}

/* blogs end */

/* footer start */
.footer {
    background-color: var(--color-gray-dark);
    margin-top: 1.5rem auto;
    padding-top: 1.5rem;
}

.footer_logo>h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-red-dark);
    text-transform: uppercase;
}

.footer_logo>h1>sub {
    color: var(--color-white);
    font-size: 0.7rem;
    font-weight: normal;
    text-transform: capitalize;
}

.footer_pages>h1,
.quick_link>h1,
.social_links>h1 {
    font-size: 1rem;
    color: var(--color-red-dark);
    text-transform: capitalize;
}

.footer_pages>ul,
.quick_link>ul {
    list-style: square;
}

.social_links>ul {
    list-style: none;
    padding: 0.5rem;
}

.footer_pages>ul>li>a,
.quick_link>ul>li>a,
.social_links>ul>li>a {
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
}

.footer_pages>ul>li>a:hover,
.quick_link>ul>li>a:hover,
.social_links>ul>li>a:hover {
    color: var(--color-red-light);
}

.copy_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy_right>p>strong {
    color: var(--color-red-dark);
}

.copy_right>p {
    color: var(--color-white);
}

/* footer end */


/*Message pages*/
.message {
    text-align: center;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
}

.message::before {
    content: "";
    background: url('../images/error.jpg')no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.message>h1 {
    position: relative;
    color: var(--color-white);
    font-size: 2.5rem;
    line-height: 0.9;
    text-align: center;
}

/* Wanted Page Start*/
.wanted {
    background-color: var(--color-gray-light);
    padding: 2rem 0;
}
.wanted>* .title {
    color: var(--color-red-dark);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}
.wanted>* .search {
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-gray-dark);
}
.wanted>* .search_input {
    border: 2px solid var(--color-red-dark);
    border-radius: 0.2rem;
}
.wanted>* .search_input:focus {
    box-shadow: none;
}
.wanted>* .search_button {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    text-transform: uppercase;
    border-radius: 0.2rem;
}
.search_text{
    color: var(--color-red-dark);
}
.btn_add_to_card{
    background-color: var(--color-red-dark);
}
.product_container {
    background-color: var(--color-gray-dark);
    padding: 1rem;
    /* box-shadow: 0 .2rem .2rem rgba(0,0,0,.15); */
}
.product_container>.product_img {
    position: relative;
}
.product_container>.product_img>.product_type {
    position: absolute;
    color: var(--color-white);
    background-color: var(--color-red-light);
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.5rem;
}
.product_container>.product_img>img {
    border-radius: 0;
    box-shadow: 0 0.5rem 0.5rem var(--color-gray-dark);
}
.product_container>.product_description {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-white);
}
.product_container>.product_code,
.product_category {
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 400;
}
.product_container>.product_price {
    display: block;
    color: var(--color-red-dark);
    font-size: 1.3rem;
    font-weight: bolder;
}
.product_container>.btn_add_to_card {
    width: 100%;
    background-color: var(--color-red-dark);
    color: var(--color-white);
    margin-top: 0.3rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

/* wanted page end */

/* information page start */
.information{
    background-color: var(--color-gray-light);
}
.information>* .info_label {
    color: var(--color-red-dark);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.information > * .info_title{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);
}
.information > * .info_list ul,li{
    font-size: 1rem;
}
.information > * .info_price{
    color: var(--color-red-dark);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.information > * .info_button{
    background-color: var(--color-red-dark);
    color: var(--color-white);
    text-transform: uppercase;
}
.information_gym > * .information_gym_container{
    padding: 1.5rem 0;
    box-shadow: 0 .5rem .5rem var(--color-gray-dark);
}
.information_gym > * .information_gym_container > h3{
    color: var(--color-red-dark);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.information_gym > * .information_gym_container > p{
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5rem;
}
.information_review{
    background-color: var(--color-gray-light);
    padding: 1.5rem 0;
}
.information_review > * h1{
    color: var(--color-red-dark);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
.review_box{

}
.review_box > * .review_box_img{
    
}
.review_box > * .review_box_content{
    
}
.review_box_content_para{
    color: var(--color-white);
    font-weight: 100;

}
.review_box_content_name{
    text-align: right;
    display: block;
    color: var(--color-white-dark);
    font-weight: 500;
}
/* information page end */

/* shopping cart start */

.cart_list{
    background-color: var(--color-gray-light);
    padding: 3rem 0;
}
.cart_list > * h3{
    color: var(--color-red-dark);
    font-size: 1.5rem;
    font-weight: 500;
}
/* shopping cart end */


/* workshop page start */
.workshop{
    background-color: var(--color-gray-light);
    /* margin: 1.5rem auto; */
    padding: 1.5rem 0;
}
.workshop >* .workhop_title{
    color: var(--color-red-dark);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
}
.workhop_sub_title{
    color: var(--color-white);
    font-size: 1.1rem;
    line-height: 1.5rem;
    word-spacing: 2px;
    font-weight: 100;
}
.workshop_item{
    text-align: center;
}
.workshop_item > h3{
    color: var(--color-red-dark);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}
.workshop_content{
    padding: 1.5rem;
    background-color: var(--color-gray-dark);
}
.workshop_content > h3{
    color: var(--color-red-dark);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.workshop_content > p{
    line-height: 1.5rem;
    font-size: 1rem;
    word-spacing: 2px;
    font-weight: 200;
}
.workshop_content_link {
   text-align: center;
}
.workshop_content_link > a{
    display: inline-block;
    color: var(--color-red-dark);
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
/* workshop page end */

/* contact us page start */
.contact_us{
    background-color: var(--color-gray-light);
    padding: 1rem 0;
}
.contact_us_title{
    color: var(--color-red-dark);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 1.5rem auto;
}
.contact_us_form{
    background-color: var(--color-gray-dark);
    padding: 2rem;
}

.contact_us_form>* input[type="text"],
.contact_us_form>* input[type="email"],
.contact_us_form>* textarea{
    border: 1px solid var(--color-red-dark) !important;
    border-radius: 0;
}

.contact_us_form>* input[type="text"]:focus,
.contact_us_form>* input[type="email"]:focus,
.contact_us_form>* textarea:focus {
    box-shadow: none;
}
.contact_us_address{
    padding: 1.5rem 0;
    margin: .5rem auto;
}
.contact_us_address > p{
    font-size: 1.2rem;
    font-weight: 100;
}
.contact_us_address > span{
    display: block;
}
.contact_us_address > span > strong{
    color: var(--color-red-dark);
    text-transform: capitalize;
    font-size: 100;
}
/* contact us page end */

/* gallery page start */
.gallery{
    background: var(--color-gray-light);
    padding: 1.5rem 0;
}
.gallery >* .title{
    color: var(--color-red-dark);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
}
.product_categories{
    padding: 0.7rem;
    background: var(--color-gray-dark)
}
.product_categories > a{
    color: var(--color-white);
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .5rem;
}
.product_categories > a:hover{
    color: var(--color-red-dark);
}
/* .product_categories > a::after{
    content: " / ";
} */
.product_categories > a.active{
    color: var(--color-red-dark);
}
/* gallery page end */